
  <div class="jumbotron">
    <h1>Hi, Peek! <small>#codechallenge #ftw</small></h1>
    <p>
        I built this over the course of the day for your <a href="http://www.peek.com/jobs/challenge1" target="_blank">code challenge.</a></p>
        <p>
        With the exception of <a href="#" data-html="true" data-placement="right" data-title="It's always something.." data-content="You'll notice in the game that only groups of 3 are cleared. The way I'm detecting neighbors doesn't play well with recursion. <br /> <br />I only just noticed it. <br /> <br /> <img src='http://media.giphy.com/media/4xp6i71R08hAA/giphy.gif' style='width: 100%;' /> ">one bug</a> (I just noticed), I'm pretty proud of it!</div>
    
    </p>
    <p>
      <a href="/auth/twitter" class="btn btn-md btn-primary"><i class="fa fa-lg fa-twitter"></i> Get Started!</a>
    </p>
  </div>