<div class="alert alert-info"><b>Welcome!</b> <br /> I built this over the course of the day for your code challenge. It's a tad shaky here and there, but all in all I'm pretty proud of it!</div>

<div class="hero">
  
  <a href="/auth/twitter" class="btn btn-lg btn-primary"><i class="fa fa-twitter fa-4x"></i> Twitter Sign-in to get started</a>
  
</div>