<div class="alert alert-info"><b>Welcome!</b> <br /> I built this over the course of the day for your code challenge. It's a tad shaky here and there, but all in all I'm pretty proud of it!</div>

<div class="hero">
  
  
  
</div>