

<div class="col-md-5">
  <%= render 'games/board', game: @game %>
</div>

<div class="col-md-2 text-center">
  <p>When your friend arrives, you'll see their moves in real time and you both will have the same board! See who's better.. </p>
</div>

<div class="col-md-5">
  <%= render 'games/board', game: @game2 %>
</div>