

<div class="col-md-5">
  <%= render 'games/board', game: @game %>
</div>

<div class="col-md-2 text-center">

  <p class="text text-info status-waiting hidden">
    Waiting for <%= current_user == @game.user ? @game2.user.name : @game.user.name %> to join.. You should probably manually semd them the url.
  </p>

</div>

<div class="col-md-5">
  <%= render 'games/board', game: @game2 %>
</div>