<div class="alert alert-info">
  <b>Warning:</b> There are some bugs here with the websockets.. If they stop working, just refresh the browsers and all should be back 'working'
</div>
<br />
<div class="col-md-5">
  <%= render 'games/board', game: @game %>
</div>

<div class="col-md-2 text-center">
  <p>When your friend arrives, you'll see their moves in real time and you both will have the same board! See who's better.. </p>
</div>

<div class="col-md-5">
  <%= render 'games/board', game: @game2 %>
</div>

