<div id="game_wrapper" class="panel panel-default center-block">
  <div class="panel-heading">Score: <span id="score">0</span></div>
  <div class="panel-body">
    <div id="game_board" data-user-id="<%= current_user.id %>">
      <% @game.cells.split(',').each_with_index do |c, num| %>
      <a href="#" data-type="<%= c %>" data-num="<%= num %>" class="square square-<%= c %>"></a>
      <% end %>
    </div>
  </div>
</div>

