$gameWidth: 400px;
$gameHeight: 400px;

.game_wrapper{
  width: $gameWidth+30;
  &.guest{
    pointer-events: none;
  }
}

.game_board{
  
  width: $gameWidth;
  height: $gameHeight;
  
  overflow: hidden;
  position: relative;
    
  .square{
    
    width: .125 * $gameWidth;
    height: .125 * $gameHeight;
    float: left;

    @include box-shadow(rgba(black, 0.9) 0 0 1px 1px inset);
    
    &.square-a{
      background-color: orange;
    }
    &.square-b{
      background-color: blue;
    }
    &.square-c{
      background-color: red;
    }
    &.square-d{
      background-color: green;
    }
    &.square-e{
      background-color: yellow;
    }
    &.square-f{
      background-color: pink;
    }
    
    &.active{
      @include transform(scale(.5) rotate(180+45deg));
    }
    &:hover{
      @include box-shadow(rgba(black, .9) 0 0 5px 5px inset);
    }
    &.exploded{
      #height: 0px;
      display:none;
    }
    
    &.on-deck{
      @include transition(none !important)
    }
    
  }
  
  &.rendered .square{//wtf sass - shouldn't have to do this (`.rendered &` should work inside .square)
    position: absolute;
    @include transition(all .5s)
  }
}